<button
  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
>
  <a href="/products">Back to products!</a>
</button>

<div
  class="max-w-md mx-auto bg-white rounded p-8 mt-10 shadow-lg"
  data-cart-id="{{cid}}"
>
  <h1 class="text-3xl font-bold mb-4">Carrito de Compras</h1>
  <p class="mb-3">Este carrito pertenece al usuario: {{user.first_name}}</p>

  <ul class="list-disc pl-4" id="cartProductsContainer" data-cart-id="{{cid}}">
    {{#each products}}
      {{log this}}
      <li class="mb-2" data-cart-id="{{cid}}">
        {{this.title}}
        - Cantidad:
        <button
          class="restar-button cursor-pointer"
          data-cart-id="{{cid}}"
          data-product-id="{{this.productId}}"
          data-current-quantity="{{this.quantity}}"
        >-</button>
        {{this.quantity}}
        <button
          class="sumar-button"
          data-cart-id="{{cid}}"
          data-product-id="{{this.productId}}"
          data-current-quantity="{{this.quantity}}"
        >+</button>
        - Precio: $
        {{price}}
        - Subtotal: ${{this.subtotal}}

        <button
          class="eliminar-producto"
          data-cart-id="{{cid}}"
          data-product-id="{{this.productId}}"
        >🗑</button>
      </li>

    {{/each}}

  </ul>
  <h4 class="text-xl font-bold mb-4">Total: {{cartTotal}}</h4>
  <button
    class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded endPurchaseButton"
    data-product-price="{{this.price}}"
    data-cart-id="{{cid}}"
    data-user-id="{{user._id}}"
  >
    End Purchase
  </button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/carts.js"></script>
</div>