<div class="max-w-md mx-auto bg-white rounded p-8 mt-10 shadow-lg" data-cart-id="{{cartId}}">
  <h1 class="text-2xl font-bold mb-4">Carrito de Compras</h1>

  <ul class="list-disc pl-4">
    {{#each products}}
      {{log this}}
      <li class="mb-2">
        {{this.title}}
        - Cantidad:
        {{this.quantity}}
        - Precio: $
        {{price}}
        - Subtotal: ${{this.subtotal}}
      </li>
    {{/each}}
     <button
          class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded endPurchaseButton"
          data-product-id="{{this._id}}"
          data-product-price="{{this.price}}"
          data-cart-id="{{cartId}}"
          data-user-email="{{userEmail}}"
        >
          End Purchase
        </button>
  </ul>
   <script src="/js/carts.js"></script>
</div>