<div class="max-w-md mx-auto bg-white rounded p-8 mt-10 shadow-lg">
  <h1 class="text-4xl font-extrabold mb-6 text-center text-indigo-600">Hola
    {{first_name}}
    {{last_name}}</h1>
  <p class="text-lg mb-4 text-center text-gray-800">Email: {{email}}</p>
  <p class="text-lg mb-4 text-center text-gray-800">Age: {{age}}</p>
  <p class="text-lg mb-6 text-center text-gray-800">Rol: {{rol}}</p>
  <button
    class="w-full bg-red-500 hover:bg-red-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline"
  >
    <a href="/logout" class="w-full h-full block">Logout</a>
  </button>
</div>